<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 로그 패턴에 색상 적용 %clr(pattern){color} -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <property name="LOGS_ABSOLUTE_PATH" value="./logback-logs" />

    <!-- log 변수 값 설정 -->
<!--    <property name="CONSOLE_LOG_PATTERN"-->
<!--              value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative]  %clr(%-5level) %clr(${PID:-}){magenta} %clr(-&#45;&#45;){faint} %clr([%15.15thread]){faint} [%X{trace.id}] [%X{transaction.id}] [%X{error.id}] %clr(%-40.40logger{36}){cyan} %clr(:){faint} %msg%n"/>-->
<!--    <property name="FILE_LOG_PATTERN"-->
<!--              value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level ${PID:-} -&#45;&#45; [%15.15thread] [%X{trace.id}] [%X{transaction.id}] [%X{error.id}] %-40.40logger{36} : %msg%n"/>-->
    <property name="CONSOLE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative]  %clr(%-5level) %clr(${PID:-}){magenta} %clr(---){faint} %clr([%15.15thread]){faint} %clr(%-40.40logger{36}){cyan} %clr(:){faint} %msg%n"/>
    <property name="FILE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level ${PID:-} --- [%15.15thread] %-40.40logger{36} : %msg%n"/>
    <!-- 콘솔(STDOUT)에 log 기록 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_ABSOLUTE_PATH}/logback.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_ABSOLUTE_PATH}/rolling/logback.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

<!--    <appender name="OpenTelemetry"-->
<!--              class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">-->
<!--        <captureExperimentalAttributes>false</captureExperimentalAttributes>-->
<!--        <captureCodeAttributes>true</captureCodeAttributes>-->
<!--        <captureMarkerAttribute>true</captureMarkerAttribute>-->
<!--        <captureKeyValuePairAttributes>true</captureKeyValuePairAttributes>-->
<!--        <captureLoggerContext>true</captureLoggerContext>-->
<!--        <captureMdcAttributes>*</captureMdcAttributes>-->
<!--    </appender>-->
    <!-- log root 레벨 설정 (logging.level.root=info)-->
<!--    <logger name="com.wny.wnyflix" level="trace">-->
<!--        <appender-ref ref="CONSOLE" />-->
<!--    </logger>-->
    <root level="info">
        <!--     참조할 appender 설정 - CONSOLE -->
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
<!--        <appender-ref ref="OpenTelemetry"/>-->
    </root>
    <!-- log 레벨 설정 (org.springframework.web=debug)-->

</configuration>